main.container{
    margin: 0 auto;
    max-width: 1000px;
    section.master{
        padding: 1.2rem;
        background-image: url(../img/people.jpg);
        background-size: cover;
        overflow: hidden;
        section.form-container{
            margin: 0 auto;
            padding: 2em;
            max-width: 230px;
            h2,p{
                margin-bottom: 1rem;
            }
        }
        form{
            input, select{
                width: 100%;
                box-sizing: border-box;
                padding: 1rem;
                border: none;
                margin-bottom: 1rem;
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    text-align: center;
    img{
        width: 12rem;
        margin-right: 1rem;
    }
    section.description{
        max-width: 40%;
        text-align: left;
        h2,p{
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: 670px) {
    footer{
        flex-direction: row;
        align-items: flex-start;
        img{
            width: 12rem;
        }
    }

    section.form-container{
        float: right;
        max-width: 80%;
    }
}