

body{
    background-color: black;
}
header{
    background-color: #48C5CE;
    h1{
        color: white;
    }
}
section.master{
    section.form-container{
        background-color: rgb(175, 175, 175);
        opacity: 90%;
        h2, p{
            color: black;
        }
    }
}
form{
    input{
        background-color: white;
    }
}


input[type="submit"]{
    color: white;
    background-color: #48C5CE;   
}
footer{
    background-color: #202121;
    section{
        color: white;
    }
}