

body{
    background-color: black;
    header{
        background-color: #48C5CE;
        h1{
            color: white;
        }
    }
    section{
        section{
            h2, p{
                color: white;
            }

        }
    }
}