

body{
    background-color: black;
    header{
        background-color: #48C5CE;
        h1{
            color: white;
        }
    }
    section{
        section.form-container{
            background-color: white;
            opacity: 80%;
            h2, p{
                color: black;
            }

        }
    }
}


input[type="submit"]{
    color: white;
    background-color: #48C5CE;   
}